.form {
  margin: 0 auto 70px;
  background: var(--primary-color);
  padding: 16px 64px;
  grid-gap: 40px;
  align-items: center;
  border-radius: 6px;
  transition: all 300ms;
  width: 40%;
}

.form h2 {
  text-align: center;
  color: white;
  font-size: 19px;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid #ffffff88;
  font-size: 15px;
}

/* form select, */
form input {
  color: white;
  background: transparent;
}

form input::placeholder {
  color: #ffffffaa;
}

form select,
form button {
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  opacity: 93%;
}